nav {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(14 23 38 / var(--tw-bg-opacity)) /* #0e1726 */;
    color: white;
    transition: background-image 0.3s ease-in-out;
  }
  
  nav.scrolled {
    background-image: linear-gradient(90deg,#7c2bbe,#3959e7);
  }

  html {
    scroll-behavior: smooth;
  }

